{% extends "main/base.html" %}
{% block content %}
<div>
    <ul>
        <li>
            <h2>
                Orders
            </h2>
        </li>
        <li>
            <a href="{% url 'main-order' %}">Order</a>   
        </li>
        <li>
            <a href="#">logout</a>
        </li>
    </ul>
</div>



<div>
    <p>
        <ul>
            <li>
                <a>
                    <ul>
                        <li>Aerosol</li>
                        <li>Delivered</li>
                    </ul>
                </a>
            </li>
            <li>
                <a>
                    <ul>
                        <li>Aerosol</li>
                        <li>Delivered</li>
                    </ul>
                </a>
            </li>
            <li>
                <a>
                    <ul>
                        <li>Aerosol</li>
                        <li>Delivered</li>
                    </ul>
                </a>
            </li>
            <li>
                <a>
                    <ul>
                        <li>Aerosol</li>
                        <li>Delivered</li>
                    </ul>
                </a>
            </li>
            <!-- <li><a href="#">Order 3</a></li>
            <li><a href="#">Order 4</a></li> -->
        </ul>
    </p>
</div>

{% endblock %}