{% extends "main/base.html" %}

{% block content %}
<div>
    <button>
        <a class="button is-danger" href="{% url 'main-logout' %}">Logout</a>
    </button>
</div>

<form action="/main/parse/" method="POST">
    {% csrf_token %}

    <div>
        <p>
            <input type="number" placeholder="Quantity" name="quantity" required>
        </p>
    </div>

    <div>
        <p>
            <input type="text" placeholder="Shipment Address" name="shipment_address" required> 
        </p>
    </div>

    <div>
        <p>
            <input type="text" placeholder="City" name="shipment_city" required> 
        </p>
    </div>

    <div>
        <p>
            <input type="text" placeholder="Postal Code" name="shipment_postal_code" required> 
        </p>
    </div>

    <div>
        <p>
            <input type="submit" name="order" value="Order">
        </p>
    </div>
</form>


{% endblock %}