{% extends "main/base.html" %}

{% block content %}

<form action="/main/parse/" method="POST">
    {% csrf_token %}
    <div>
        <p>
            <input type="text" placeholder="Organization Name" name="organization_name" required>
        </p>
    </div>

    <div>
        <p>
            <input type="text" placeholder="Representative Full Name" name="repr_full_name" required>
        </p>
    </div>

    <div>
        <p>
            <input type="text" placeholder="Representative Phone Number" name="repr_phone_number" required>
        </p>
    </div>

    <div>
        <p>
            <input type="email" placeholder="Representative Email" name="repr_email" required>
        </p>
    </div>

    <div>
        <p>
            <input type="password" placeholder="Password" name="repr_password" required>
        </p>
    </div>

    <div>
        <p>
            <input type="password" placeholder="Confirm Password" name="repr_confpassword" required>
        </p>
    </div>


    <div>
        <p>
            <input type="submit" name="organization sign up" value="Sign Up">
        </p>
    </div>
</form>


{% endblock %}